/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
--------------
Vlastni styly
---------------
*/

body {
	font: 13px Arial;
	 }
/*
--------------
Rozlozeni
--------------
*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
}
.primary-header {
	height: 50px;
	width: inherit;
}
.odkaz {
	color: #3F3F3F;
	padding: 1px;
}
/*
-----------------
Horní navigace
-----------------------
*/
.primary-nav {
	padding-top: 22px;
	float: right;
}
.primary-nav li {
	display: inline-block;
	margin: -14px 7px;
}
.g-plus{
	color: #b2b2b2;
}
.primary-nav .odkaz {
	padding: 3px;
}
.odkaz:hover {
	text-decoration: underline;
}
.app {
	background-image: url("img/app01.png");
	height: 25px;
	width: 15px;
	background-repeat: no-repeat;
	padding: 0 2px;
}
.app:hover {
	background-image: url("img/app02.png");
}
.upoz{
	background-image: url("img/oznam_o1.png");
	height: 25px;
	width: 15px;
	background-repeat: no-repeat;
	padding: 0 2px;
}
.upoz:hover {
	background-image: url("img/oznam_o2.png");
}
.fotka {
	background-image: url("img/photo.png");
	height: 35px;
	width: 35px;
	margin-right: 27px;
	margin-top: 1px;
}
.primary-nav ul {
	padding-right: 30px;
}
/*
----------------
Hlavni cast
-----------------
*/
.hlavni {
	height: 853px;
	width: inherit;
}
.nadpis {
	height: 28%;
	width: 100%;
	background-image: url("img/Logo_Google.png");
	background-repeat: no-repeat;
	background-position: 50% 100%;
}
h3 {
	position: relative;
	left: 54%;
	top: 89%;
	width: 160px;
	text-align: center;
	font: normal normal bold 17px Arial;
	color: #818181;
}
.vyhledat {
	padding-left: 36%;
	padding-top: 1%;
 }
.vyhledat input {
	height: 30px;
	width: 550px;
	position: center;
} 

/*
----------------
Spodní navigace
-----------------
*/

.primary-footer{
	background: #eeeeee;
	padding-top: 15px;
	width: 100%;
	height: 44px
}

.udaje {
	position:relative;
	padding-left: 30px;
}
.udaje:first-child {
	padding-left: 1100px;
}
.secondary-nav ul li { 
	float:left;
	display:block;
}
.leve_odkazy .odkaz{
	padding-left: 30px;
}
/*
--------------------
Buttons
----------------
*/
.buttons {
	text-align: center;
	padding-top: 25px;
}
.btn {
	background-color: #eeeeee;
	padding: 8px 7px;
	border: 1px solid #d6d6d6;
	color: #3F3F3F;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	margin-right: 8px;
	margin-left: 8px
}

